$color-town: rgb(234, 234, 234);
$color-background: rgb(246, 246, 246);
$marker-size: 18px;
$icons-operation-size: 20px;
$icons-footer-size: 15px;

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    #logo {
        width: 50%;
        padding: 20px 10px 10px 10px;
    }
    div {
        padding: 15px;
        background-color: $color-town;
        box-shadow: inset 0px 7px 4px -5px rgb(202, 202, 202);
    }
    #marker {
        position: absolute;
        left: 24%;
        width: $marker-size;
        height: $marker-size;
    }
    span {
        font-size: 1.1em;
        font-weight: bold;
    }
}

#explore {
    margin: auto;
    text-align: center;
    padding: 10px 0px 40px;
    background-color: $color-background;
    & h1 {
        padding: 0px 30px;
        font-size: 1.6em;
        font-weight: bold;
    }
    p {
        font-size: large;
        font-weight: 400;
    }
    button {
        color: white;
        font-size: inherit;
        font-weight: 600;
        width: 60%;
        height: 45px;
        border: none;
        border-radius: 25px;
        background: linear-gradient(175deg, #FF79DA, #9356DC);
    }
}

main {
    margin-top: 40px;
    & #main_section_1 {
        padding-bottom: 50px;
    }
    & section {
        & .section_wrapper {
            width: 90%;
            margin: auto;
        }
        & #operation {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div {
                padding: 25px;
                margin-bottom: 20px;
                border-radius: 20px;
                background-color: $color-background;
                box-shadow: 0px 5px 5px 1px rgb(233, 233, 233);
                & .text {
                    font-weight: bold;
                    font-size: 1.1em;
                }
                & img {
                    width: $icons-operation-size;
                    height: $icons-operation-size;
                }
            }
        }
    } & #main_section_2 {
        padding: 40px 0px;
        background-color: $color-background;
        & .section_wrapper {
            & a {
                height: 240px;
                display: flex;
                flex-direction: column;
                margin: 15px 0px;
                border-radius: 20px;
                text-decoration: none;
                background-color: #ffffff;
                box-shadow: 0px 4px 8px 0px #cacaca;;
                & .picture {
                    height: 170px;
                    background-repeat: no-repeat;
                    background-size: 340px;
                    border-radius: 15px 15px 0px 0px;
                }
                & .text {
                    color: black;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px 15px;
                }
            }
        }
    }
}


.restaurant_picture1 {
    background-position: bottom;
    background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurant_picture2 {
    background-position: 50% 61%;
    background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.restaurant_picture3 {
    background-position: bottom;
    background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurant_picture4 {
    background-position: 50% 90%;
    background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}


footer {
    color: white;
    padding: 30px 25px;
    background-color: rgb(53, 53, 53);
    & #logo_footer {
        width: 35%;
        padding-bottom: 15px;
    }
    & nav {
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & a {
            & img {
                padding-right: 5px;
                fill: currentColor;
                width: $icons-footer-size;
                height: $icons-footer-size;
            }
        }
    }   
}