body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}
header #logo {
  width: 50%;
  padding: 20px 10px 10px 10px;
}
header div {
  padding: 15px;
  background-color: #eaeaea;
  box-shadow: inset 0px 7px 4px -5px #cacaca;
}
header #marker {
  position: absolute;
  left: 24%;
  width: 18px;
  height: 18px;
}
header span {
  font-size: 1.1em;
  font-weight: bold;
}

#explore {
  margin: auto;
  text-align: center;
  padding: 10px 0px 50px;
  background-color: #f6f6f6;
}
#explore h1 {
  padding: 0px 30px;
  font-size: 1.6em;
  font-weight: bold;
}
#explore p {
  font-size: large;
  font-weight: 400;
}
#explore button {
  color: white;
  font-size: inherit;
  font-weight: 600;
  width: 60%;
  height: 45px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}

main {
  margin-top: 40px;
}
main #main_section_1 {
  padding-bottom: 50px;
}
main section .section_wrapper {
  width: 90%;
  margin: auto;
}
main section #operation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section #operation div {
  width: 81%;
  padding: 25px;
  left: 15px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 9px 2px #e9e9e9;
}
main section #operation div:hover {
  background-color: #f5edff;
  color: #9356DC;
}
main section #operation div .number {
  width: 25px;
  left: -13px;
  color: white;
  padding: 3px 0px;
  text-align: center;
  position: absolute;
  border-radius: 100%;
  background-color: #9356DC;
}
main section #operation div i {
  text-align: center;
  font-size: 1.2em;
  padding: 0px 15px 0px 9px;
  width: 25px;
}
main section #operation div .text {
  color: black !important;
  font-weight: bold;
}
main #main_section_2 {
  padding: 40px 0px;
  background-color: #f6f6f6;
}
main #main_section_2 .section_wrapper a {
  height: 240px;
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px #cacaca;
}
main #main_section_2 .section_wrapper a .picture {
  height: 170px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 15px 15px 0px 0px;
}
main #main_section_2 .section_wrapper a .text {
  color: black;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
}

.restaurant_picture1 {
  background-position: bottom;
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.restaurant_picture2 {
  background-position: 50% 61%;
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.restaurant_picture3 {
  background-position: bottom;
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.restaurant_picture4 {
  background-position: 50% 90%;
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

footer {
  color: white;
  padding: 30px 25px;
  background-color: #353535;
}
footer #logo_footer {
  width: 35%;
  padding-bottom: 15px;
}
footer nav {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer nav a .fas {
  padding-right: 10px;
  width: 15px;
  height: 15px;
}
footer nav a .fa-hands-helping {
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
