$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-town: #eaeaea;
$color-white: #ffffff;
$color-background: #f6f6f6;
$color-shadow: #cacaca;
$color-footer: #353535;

$icon-marker-size: 18px;
$icons-operation-size: 25px;
$icons-footer-size: 15px;